/* Space out content a bit */
body {
    background-color: #F2EEEA;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/*Less space in container on the right, header looks more center*/
.constainer {
  padding-right: 40px;
}

/* Custom page header */
.jumbotron {
  color: #5F5E5D; 
  background-color: #B4B2AE;
  font-family: 'Raleway:700', sans-serif;
}

.jumbotron h1 {
  padding-left: 40px;
}

.jumbotron small {
  color: #E87162; 
  font-family: 'Raleway', sans-serif;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  font-family: 'Raleway', sans-serif;
}

/* Custom search and sort container */

.flex-container .searchblock {
  display: flex;
  justify-content: center; 
  color: #5F5E5D; 
  font-family: 'Raleway', sans-serif;
}

.search-form-card {
  flex-wrap: nowrap; 
  background-color: #B4B2AE;
  border-radius: 6px;
  padding: 10px 20px 13px 20px;
  box-shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.2);
}

.search-filter {
  display: flex;
  justify-content: center;
}

.search-filter .post-options {
  flex-wrap: wrap;
  padding:10px;
}

.post-options .active {
  padding: 5px 15px;  
}
.btn {
  padding: 5px 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  background-color: #E87162;
  font-family: 'Raleway:700', sans-serif; 
  border: none;
  color: #5F5E5D;
}

.btn-primary {
  margin-top:10px; 
}

/*Custom form*/
form {
  margin-top: 30px;
  margin-bottom: 50px;
}



/*.img_ad {
  width: 20vw; 
  margin: 5vw;
}
h4 {
  font-size: 1.7vmax;
  font-family: 'Raleway:700', sans-serif;
}
.media-body {
  font-size: 1.4vmax;
  font-family: 'Raleway', sans-serif;
}

a.btn {
  font-size: 1.4vmax;
  font-family: 'Raleway', sans-serif;
  margin:10px;
  background-color: 
}


 /*Mixin itself*/
.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

 /*Usage as a mixin*/
.element {
  .clearfix();
}*/