/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #616161;
}

.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/*Less space in container on the right, header looks more center*/
.constainer {
  padding-right: 40px;
}

/* Custom page header */
.jumbotron {
  color: #5F5E5D; 
  background-color: #B4B2AE;
  font-family: 'Raleway:700', sans-serif;
}

.jumbotron h1 {
  padding-left: 40px;
}

.jumbotron small {
  color: #E87162; 
  font-family: 'Raleway', sans-serif;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  font-family: 'Raleway', sans-serif;
}

/* Custom search and sort container */

.flex-container .searchblock {
  display: flex;
  justify-content: center; 
  color: #5F5E5D; 
  font-family: 'Raleway', sans-serif;
}

.search-form-card {
  flex-wrap: nowrap; 
  background-color: #B4B2AE;
  border-radius: 6px;
  padding: 10px 20px 13px 20px;
  box-shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.2);
}

.search-filter {
  display: flex;
  justify-content: center;
}

.search-filter .post-options {
  flex-wrap: wrap;
  padding:10px;
}

.post-options .active {
  padding: 5px 15px;  
}
.btn {
  padding: 5px 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  background-color: #E87162;
  font-family: 'Raleway:700', sans-serif; 
  border: none;
  color: #5F5E5D;
}

.btn-primary {
  margin-top:10px; 
}

.button-sort {
  text-align: center;
}

/*Custom form*/
form {
  margin-top: 30px;
  margin-bottom: 50px;
}

/*Custom ads container*/

.flex-container .ad-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
}

.well {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.2)
}

.img-responsive {
 display: flex;
 max-width: 100%;
 height: auto;
 border-radius: 6%;
}

.media-list {
  font-family: 'Raleway', sans-serif;
  color:#5F5E5D;
  padding-top:20px;
  padding-bottom: 20px;
}

.items-info button {
  margin-top: 10px;
  background-color: #EC8D81;
}

.page-header h2 {
  color: #E87162; 
  font-family: 'Raleway', sans-serif;
}

.flex-container .edit-post {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vh;
}
p {
  font-size: 2vmin;
}