/* Space out content a bit */
body {
    background-color: #F2EEEA;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/*less space in container on the right, header looks more center*/
.constainer {
  padding-right: 40px;
}

/* Custom page header */
.jumbotron {
  color: #5F5E5D; 
  background-color: #B4B2AE;
  font-family: 'Raleway:700', sans-serif;
}

.jumbotron h1 {
  padding-left: 40px;
}

.jumbotron small {
  color: #E87162; 
  font-family: 'Raleway', sans-serif;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  font-family: 'Raleway', sans-serif;
}

/* Custom search and sort container*/

.flex-container {
  display: flex;
  /*flex-flow: row;*/
  /*flex-wrap: wrap;*/
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

.search-card {
  display: flex;
  flex-wrap: nowrap; 
  background-color: #B4B2AE;
  border-radius: 6px;
  padding: 10px 20px 13px 20px;
  box-shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.2);
}

.search-card .post-options {
  display: flex;
  flex-wrap: wrap;
  padding:10px;
}

.post-options .active {
  padding: 5px 15px;  
}

.search-card .sort {
 flex-direction: column;
}

.post-options .btn {
  padding: 5px 15px;
  height: 45px;
  background-color: #E87162;
  font-family: 'Raleway:700', sans-serif;
}
.sort .button-sort {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
}


/*.form-horizontal {
  margin:20px;
}



.img_ad {
  width: 20vw; 
  margin: 5vw;
}
h4 {
  font-size: 1.7vmax;
  font-family: 'Raleway:700', sans-serif;
}
.media-body {
  font-size: 1.4vmax;
  font-family: 'Raleway', sans-serif;
}

a.btn {
  font-size: 1.4vmax;
  font-family: 'Raleway', sans-serif;
  margin:10px;
  background-color: 
}


 /*Mixin itself*/
.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

 /*Usage as a mixin*/
.element {
  .clearfix();
}*/