<!--search ads or sort the list-->

<div class="flex-container searchblock">
  <div class="search-form-card">
    <div class="col-md-12 search-filter">
      <div class=".col-md-6 .col-md-offset-6 post-options">
        <h3 class="active text-center">Filter Posts</h3>
        <input type="search" placeholder="Filter" name="search" class="form-control input-sm search-form" ng-model="search" />
      </div>
      <div class=".col-md-6 .col-md-offset-6 post-options sort" ng-init="sortType='date'; sortName='Date'">
        <h3 class="active text-center">Sort Posts</h3>
        <div class="button-sort">
          <button class="btn btn-sort" type="button" name="button" ng-click="sortType='date'; sortName='Date'" ng-class="{'inactive-button': $ctrl.sortCriteria != '-date'}">Date</button>
          <button class="btn btn-sort" type="button" name="button" ng-click="sortType='price'; sortName='Price'" ng-class="{'inactive-button': $ctrl.sortCriteria != 'price'}">Price</button>
        </div>
      </div>
    </div>
    <!--Form to add new post-->
    <div class="col-md-12 text-center new-post">
      <form class="form" name="form" novalidate ng-submit="$ctrl.createAd(ad)">
        <h3 class="active text-center">Add New Post</h3>
        <div ng-class='form-group'>
          <label for="title"></label>
          <input class="form-control" ng-model="$ctrl.ad.title" type="text" name="title" id="title" placeholder="title" />
        </div>
        <div ng-class='form-group'>
          <label for="description"></label>
          <textarea class="form-control" ng-model="$ctrl.ad.description" type="text" rows="4" name="description" id="description" placeholder="description"></textarea>
        </div>
        <div>
          <div ng-class='form-group'>
            <label for="price"></label>
            <input class="form-control" ng-model="$ctrl.ad.price" type="number" name="price" id="price" placeholder="price" />
          </div>
          <div ng-class='form-group'>
            <label for="image"></label>
            <input class="form-control" ng-model="$ctrl.ad.item_image" type="url" name="image" id="image" placeholder="image url" />
          </div>
        </div>
          <button type="submit" class="btn btn-primary submit" ng-disabled="form.$invalid">Submit</button>
      </form>
    </div>
  </div>
</div>

<!--List of Ads-->
<div class="flex-container ad-list">
  <div class="row well" ng-repeat="ad in $ctrl.ads | filter:search | orderBy:sortType">
  <div class="col-md-12 media-list">
    <div class="col-md-6"><img ng-src="{{ad.item_image}}" class="img-responsive"></div>
    <div class="col-md-6 items-info">
      <div class="media-heading">
        <h4>{{ad.title}}</h4>
      </div>
      <div>
        <p>{{ad.description}}</p>
      </div>
      <div>
        <p>Price: {{ad.price | currency}}</p>
      </div>
      <small><span am-time-ago="ad.created_at">{{ad.created_at | date}}</small>
      <br><button type="button" class="btn" ui-sref="edit({id: ad.id})">edit</button>
    </div>
  </div>
</div>
</div>
