

<!--<div class="row">
  <div class="col-md-8">

    <form name="form" novalidate ng-submit="$ctrl.editAd()">
    <div>
    <div ng-class="{'form-group': true, 'has-error': form.title.$invalid && form.title.$touched }">
      <input class="form-control" ng-model="$ctrl.ad.title" type="text" name="title" id="title" placeholder="title" required/>
      <label for="title">Title</label>
    </div>
    <div ng-class="{'form-group': true, 'has-error': form.description.$invalid && form.description.$touched }">
      <textarea class="form-control" ng-model="$ctrl.ad.description" type="text" name="description" id="description" placeholder="description" required></textarea>
      <label for="description">Description</label>
    </div>
    <div ng-class="{'form-group': true, 'has-error': form.price.$invalid && form.price.$touched }">
      <input class="form-control" ng-model="$ctrl.ad.price" type="text" name="price" id="price" placeholder="price" required/>
      <label for="price">Price</label>
    </div>
    <div ng-class="{'form-group': true, 'has-error': form.item_image.$invalid && form.item_imagev.$touched }">
      <input ng-class="form-control" ng-model="$ctrl.ad.item_image" type="url" name="image" id="image" placeholder="image url" required/>
      <label for="image">Item Image</label>
    </div>
    <div class="form-group">
      <button type="submit" id="submit" class="btn btn-primary">Edit Ad</button>
      </div>
      <div>
      <button type="button" ng-click="$ctrl.deleteAd()">
      Delete Record
    </button>
    </div>
    </div>
</form>
  </div>
</div>-->

<div class="page-header">
  <h2>
    {{$ctrl.ad.title}}
  </h2>
</div>

<div class="flex-container edit-post">
  <div class="col-md-12 text-center well">
      <form class="form" name="form" novalidate ng-submit="$ctrl.editAd()">
        <div ng-class='form-group'>
          <label for="title"></label>
          <input class="form-control" ng-model="$ctrl.ad.title" type="text" name="title" id="title" placeholder="title" />
        </div>
        <div ng-class='form-group'>
          <label for="description"></label>
          <textarea class="form-control" ng-model="$ctrl.ad.description" type="text" rows="4" name="description" id="description" placeholder="description"></textarea>
        </div>
        <div>
          <div ng-class='form-group'>
            <label for="price"></label>
            <input class="form-control" ng-model="$ctrl.ad.price" type="number" name="price" id="price" placeholder="price" />
          </div>
          <div ng-class='form-group'>
            <label for="image"></label>
            <input class="form-control" ng-model="$ctrl.ad.item_image" type="url" name="image" id="image" placeholder="image url" />
          </div>
        </div>
        <div class="form-group">
      <button type="submit" id="submit" class="btn btn-primary submit">Edit Ad</button>
      </div>
      <div>
      <button class="btn btn-primary submit" type="button" ng-click="$ctrl.deleteAd()">
      Delete Record
    </button>
    </div>
          <!--<button type="submit" class="btn btn-primary submit" ng-disabled="form.$invalid">Submit</button>-->
      </form>
    </div>
</div>
